.background {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
  }
.Lavanviolin { background-image: url("Lavanviolin.jpg"); }
.Decanationalsgroup { background-image: url("DecaNationalsgroup.JPG"); }
.Lavanfamily { background-image: url("Lavanfamily.JPG"); }
.Lavanfamily2{ background-image: url("Lavanfamily2.JPG"); }
.Lavanrobotics { background-image: url("LavanRobotics.JPG"); }
.Decanationalssolo { background-image: url("DecaNationalssolo.JPG"); }
.Decaregionals { background-image: url("Decaregionals.JPG"); }

@font-face{
    font-family: Robotothin;
    src: url(Roboto-Thin.ttf);
}
.largetext{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    font-size: 80px;
    font-family:Robotothin;
    border: 10px solid #f1f1f1;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
  }

.divbar
    {
    background-color:#FFAF9F ;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    }


.divbar a
    {
    box-sizing: border-box;
    float: left;
    width: 25%;
    height: 100%;
    font-size: 25px;
    padding: 12px;
    font-family:Robotothin;
    font-weight: bold;
    color:black;
    text-align: center;
    text-decoration: none;
    }
.divbar a:hover
{
    background-color: rgba(251, 164, 147, 0.747);
}
.divbar a.active
{
    background-color:#9FEFFF;
}
