.fade{
    animation: Fadein 5s;
}
@keyframes Fadein{
    from{opacity: 0;}
    to{opacity: 1;}
}

.background {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;   
    margin: 0;
    position: relative;
   }

.Lavanviolin {background-image: url("Lavanviolin.jpg");}
.Decanationalsgroup { background-image: url("DecaNationalsgroup.JPG"); }
.Lavanfamily { background-image: url("Lavanfamily.JPG"); }
.Lavanfamily2{ background-image: url("Lavanfamily2.JPG"); }
.Lavanrobotics { background-image: url("LavanRobotics.JPG"); }
.Decanationalssolo { background-image: url("DecaNationalssolo.JPG"); }
.Decaregionals { background-image: url("Decaregionals.JPG"); }
.Decasolo{background-image: url("Decasolo.jpg");}
.aboutpagemain{background-image: url("Lavanwalking.JPG");}
.aboutfamily{background-image: url("Family small.JPG");}
.aboutcontact{background-image: url("Lavancontact.JPG");}
@font-face{
    font-family: Robotothin;
    src: url(Roboto-Thin.ttf);
}

@font-face{
    font-family: Robotolight;
    src: url(Roboto-Light.ttf);
}
.largetext{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    font-size: 80px;
    font-family:Robotothin;
    border: 10px solid #f1f1f1;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
  }

.divbar
    {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    z-index: 10;
    }


.divbar a
    {
    box-sizing: border-box;
    float: left;
    width: 20%;
    height: 100%;
    font-size: 25px;
    padding: 12px;
    font-family:Robotothin;
    font-weight: bold;
    color:white;
    text-align: center;
    text-decoration: none;
    }
.divbar a:hover
{
    background-color: black;};

}
.divbar a h1
{
    font-size: 12px;
    color: red;
    position: absolute;
    top: 50px;
}

.divbar a.active
{
    background-color:rgb(235, 233, 233); 
    background-color: rgba(255, 255, 255, 0.4); 
}

.navigation
{
    height: 100px;
    width: 100%;
    position: relative;;
    bottom: 0px; 
    background-color: black; 
    z-index: 2;
    color: white;
    font-family:Robotolight;
}
.navigation th {
    font-size: 18px;
}
.navigation td {
    text-align: center;
    font-size: 12px;
}
.navigation a{
    color: white;
}

.infobox{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color:#5FB1FF;
    color: white;
    box-sizing: border-box;
    z-index: 5;

}

.inforect{
    width: 400px;
    height: 200px;
    position: absolute;
    background-color:#FFAD5F;
    color: white;
    box-sizing: border-box;
    z-index: 5;

}
.infobox h1, .inforect h1{
    font-family: Robotothin;
    font-size: 40px;
    padding-left: 15px;

}

.infobox h2, .inforect h2{
    font-family: Robotolight;
    font-size: 18px;
    padding-left: 15px;
}